---
interface Props {
  show?: Array<{
    title: string;
    fromDate: string;
    toDate: string;
    remarks: string[];
  }>;
  classes?: string;
}

const { show = [], classes = "" } = Astro.props;
---

<div class={"flex flex-col gap-2 " + classes}>
  <h2 class="text-xl font-extrabold">EXPERIENCE</h2>

  {
    show.length > 0 && (
      <div class="flex flex-col gap-6">
        {show.map(({ title, fromDate, toDate, remarks }) => (
          <div class="flex flex-col gap-1">
            <h3 class="font-bold">{title}</h3>
            <p>
              {fromDate} - {toDate}
            </p>
            {remarks.length > 0 && (
              <ul class="list-inside list-disc">
                {remarks.map((remark) => (
                  <li>{remark}</li>
                ))}
              </ul>
            )}
          </div>
        ))}
      </div>
    )
  }

  <hr />
</div>
