---
interface Props {
  show?: Array<{
    title: string;
    fromDate: string;
    toDate: string;
    remarks: string[];
    skills: string[];
  }>;
  classes?: string;
}

const { show = [], classes = "" } = Astro.props;
---

<div class={"flex flex-col gap-2 " + classes}>
  <h2 class="text-xl font-extrabold">EXPERIENCE</h2>

  {
    show.length > 0 && (
      <div class="flex flex-col gap-6">
        {show.map((position) => (
          <div class="flex flex-col gap-1">
            <div class="flex gap-2 items-center">
              <h3 class="font-bold">{position.title}</h3>
              <span class="text-sm">
                {position.fromDate} - {position.toDate}
              </span>
            </div>

            <ul class="list-inside list-disc flex flex-col gap-1">
              {position.remarks.length > 0 &&
                position.remarks.map((remark) => <li>{remark}</li>)}

              <li>
                <span class="underline">Skills:</span>
                {position.skills.join(", ")}.
              </li>
            </ul>
          </div>
        ))}
      </div>
    )
  }

  <hr />
</div>
