---
interface Props {
  children: unknown;
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<div class:list={["flex flex-col gap-2", classes]}>
  <hr />

  <p class="text-center">
    <slot />
  </p>

  <hr />
</div>
