---
type KnownLanguage = "English" | "Spanish" | "German";
type LanguageLevel = "A1" | "A2" | "B1" | "B2" | "C1" | "C2" | "Native";

interface Props {
  show?: Array<{
    lang: KnownLanguage;
    level: LanguageLevel | `${LanguageLevel} - ${LanguageLevel}`;
  }>;
}

const { show = [] } = Astro.props;
---

<div class="flex flex-col gap-2">
  <h2 class="text-xl font-extrabold">LANGUAGES</h2>

  {
    show.length > 0 && (
      <ul class="list-inside list-disc">
        {show.map(({ lang, level }) => (
          <li>
            {lang}: {level}.
          </li>
        ))}
      </ul>
    )
  }

  <hr />
</div>
