---
interface Props {
  languages?: string[];
  technologies?: string[];
  other?: string[];
}

const { languages = [], technologies = [], other = [] } = Astro.props;

const shouldShowSomething =
  languages.length > 0 || technologies.length > 0 || other.length > 0;
---

<div class="flex flex-col gap-2">
  <h2 class="text-xl font-extrabold">SKILLS</h2>

  {
    shouldShowSomething && (
      <ul class="list-inside list-disc">
        {languages.length > 0 && (
          <li>
            <span class="underline">Languages:</span> {languages.join(", ")}.
          </li>
        )}

        {technologies.length > 0 && (
          <li>
            <span class="underline">Technologies:</span>{" "}
            {technologies.join(", ")}.
          </li>
        )}

        {other.length > 0 && (
          <li>
            <span class="underline">Other:</span> {other.join(", ")}.
          </li>
        )}
      </ul>
    )
  }

  <hr />
</div>
