---
import PageLayout from "../layouts/PageLayout.astro";
import Printable from "../components/Printable.astro";
import Languages from "../components/cv/Languages.astro";
import Education from "../components/cv/Education.astro";
import Experience from "../components/cv/Experience.astro";
import Skills from "../components/cv/Skills.astro";
import Summary from "../components/cv/Summary.astro";
import Header from "../components/cv/Header.astro";
import Introduction from "../components/cv/Introduction.astro";

import cvReference from "/cv.pdf";
---

<PageLayout
  title="Julio Castro | Senior Software Engineer"
  description="CV of Julio Cesar Castro Lopez, senior software engineer based in Z眉rich, Switzerland"
  bodyClasses="p-10 sm:p-20 flex flex-col items-center gap-4"
>
  <p>
    Hi! I'm Julio . Welcome to my under construction website . For now, down
    here you can find my CV with my contact info 猬锔.
  </p>

  <Printable id="julio-cv" classes="px-12 py-10 bg-white text-black">
    <Introduction
      firstName="JULIO"
      lastName="CASTRO"
      title="Senior Software Engineer"
    />

    <Header classes="mt-4">
      <a href="mailto:julio.castro.dev@gmail.com" class="hover:underline"
        >julio.castro.dev@gmail.com</a
      >
      | +41 76 513 18 64 | Z眉rich, Switzerland
    </Header>

    <Summary classes="mt-6">
      Extensive experience in software engineering from startup to large
      corporate levels. Proven success leading teams in various technologies
      including Angular, React, Nodejs or Spring Boot, resulting in highly
      performing, harmonious and cohesive teams with deep technical and business
      knowledge. Succeeded in applying mathematical and scientific skills to
      drive and clarify intricate and complex business challenges, resulting in
      bigger, better and faster achievements.
    </Summary>

    <Skills
      languages={[
        "Typescript",
        "Java",
        "Python",
        "HTML/CSS",
        "Javascript",
        "SQL",
      ]}
      technologies={[
        "Angular",
        "React",
        "Spring Boot",
        "Nodejs",
        "Nextjs",
        "Cypress",
      ]}
      other={[
        "Domain Driven Design",
        "Clean Arquitecture",
        "Modern Reactivity",
      ]}
      classes="mt-4"
    />

    <!-- {
            title:
              "Quality Assurance Developer at Santander Innovation Lab | Fabrik",
            fromDate: "Sep 2019",
            toDate: "Feb 2020",
            remarks: [
              "Santander Innovation Lab is a group of talented teams focused on creating disruptive products in the financial industry.",
              "Each application undergoes extensive and rigorous quality testing, which were costly and manual when I joined the team.",
              "Implemented, executed and automated a wide variety of tests. The automation was focused on the most expensive ones and was carried out with Appium, Selenium and Java.",
              "Achieved a reduction from weeks of manual work to a few minutes of execution. In addition to greater reliability, stability and convenience of the results, as the tests were executed by computers instead of humans. This was the first time in the company to use the system I introduced, which inspired other teams.",
              "Skills: Java 路 Selenium 路 Appium 路 GitLab 路 Scrum 路 JIRA",
            ],
          } -->
    <Experience
      classes="mt-4"
      show={[
        ...Array(6)
          .fill(null)
          .map(() => ({
            title:
              "Quality Assurance Developer at Santander Innovation Lab | Fabrik",
            fromDate: "Sep 2019",
            toDate: "Feb 2020",
            remarks: [
              // -------------------------------------------------------------------------------------------
              "Santander Innovation Lab is a group of talented teams focused on creating disruptive products.",
              "Each application undergoes extensive and rigorous quality testing, which were costly and.",
              "Implemented, executed and automated a wide variety of tests. The automation was focused",
              "Achieved a reduction from weeks of manual work to a few minutes of execution. In addition.",
              "Skills: Java 路 Selenium 路 Appium 路 GitLab 路 Scrum 路 JIRA",
            ],
          })),
      ]}
    />

    <Education
      classes="mt-4"
      show={[
        {
          title:
            "Bachelor's Degree in Mathematics and Computer Science from the Polytechnic University of Madrid",
          fromYear: "2017",
          toYear: "2021",
          remarks: [
            "Achieved an average score of 9/10.",
            "Awarded for multiple years with academic excellence on behalf of the city of Madrid.",
          ],
        },
      ]}
    />

    <Languages
      classes="mt-4"
      show={[
        { lang: "English", level: "C1" },
        { lang: "German", level: "A2" },
        { lang: "Spanish", level: "Native" },
      ]}
    />
  </Printable>

  <a href={cvReference} target="_blank" class="hover:underline"
    >Download CV .</a
  >

  <!-- TODO: Add links to linkedin, github, etc in icons -->

  <p>This website is built using Astro  and Tailwind .</p>
</PageLayout>
