---
import PageLayout from "../layouts/PageLayout.astro";
import Printable from "../components/Printable.astro";
---

<PageLayout
  title="My title"
  description="My description"
  bodyClasses="p-20 flex flex-col items-center gap-4"
>
  <p>My CV is the following...</p>

  <Printable classes="px-12 py-10">
    <h1 class="text-4xl tracking-wide text-center">
      <span class="font-extrabold">JULIO</span> CASTRO
    </h1>

    <div>hola mundo</div>
  </Printable>
</PageLayout>
