---
import PageLayout from "../layouts/PageLayout.astro";
import Printable from "../components/Printable.astro";
import Languages from "../components/cv/Languages.astro";
import Education from "../components/cv/Education.astro";
import Experience from "../components/cv/Experience.astro";
import Skills from "../components/cv/Skills.astro";
import Summary from "../components/cv/Summary.astro";
import Header from "../components/cv/Header.astro";
import Introduction from "../components/cv/Introduction.astro";
---

<PageLayout
  title="Julio Castro | Senior Software Engineer"
  description="CV of Julio Cesar Castro Lopez, senior software engineer based in Zürich, Switzerland"
  bodyClasses="p-20 flex flex-col items-center gap-4"
>
  <p>My CV is the following...</p>

  <Printable classes="px-12 py-10 bg-white text-black">
    <Introduction
      firstName="JULIO"
      lastName="CASTRO"
      title="Senior Software Engineer"
    />

    <Header classes="mt-4">
      julio.castro.dev@gmail.com | +41 76 513 18 64 | Zürich, Switzerland
    </Header>

    <Summary classes="mt-6">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      eius atque labore ducimus maiores placeat ut quaerat quod. Aspernatur
      dicta, facere maiores incidunt tempora soluta? Pariatur, repellat. Dicta,
      cumque inventore? dicta, facere maiores incidunt tempora soluta? Pariatur,
      repellat. Dicta, cumque inventore.
    </Summary>

    <Skills
      classes="mt-4"
      show={[
        "Skill 1.",
        "Skill 2.",
        "Skill 3.",
        "Skill 4.",
        "Skill 5.",
        "Skill 6.",
        "Skill 7.",
      ]}
    />

    <Experience
      classes="mt-4"
      show={[
        {
          title: "Current Senior Software Position",
          fromDate: "Mar 2019",
          toDate: "Present",
          remarks: ["Comment 1.", "Comment 2.", "Comment 3."],
        },
        {
          title: "Intermediate Senior Software Position",
          fromDate: "Mar 2019",
          toDate: "Present",
          remarks: ["Comment 1.", "Comment 2.", "Comment 3."],
        },
        {
          title: "Intermediate Senior Software Position",
          fromDate: "Mar 2019",
          toDate: "Present",
          remarks: ["Comment 1.", "Comment 2.", "Comment 3."],
        },
        {
          title: "Last Senior Software Position",
          fromDate: "Mar 2019",
          toDate: "Present",
          remarks: ["Comment 1.", "Comment 2.", "Comment 3."],
        },
      ]}
    />

    <Education
      classes="mt-4"
      show={[
        {
          title:
            "Bachelor's Degree in Mathematics and Computer Science from the Polytechnic University of Madrid",
          fromYear: "2017",
          toYear: "2021",
          remarks: [
            "Achieved an average score of 9/10.",
            "Awarded for multiple years with academic excellence on behalf of the city of Madrid.",
          ],
        },
      ]}
    />

    <Languages
      classes="mt-4"
      show={[
        { lang: "English", level: "C1" },
        { lang: "Spanish", level: "Native" },
        { lang: "German", level: "A2" },
      ]}
    />
  </Printable>
</PageLayout>
