---
import PageLayout from "../layouts/PageLayout.astro";
import Printable from "../components/Printable.astro";
import Languages from "../components/cv/Languages.astro";
import Education from "../components/cv/Education.astro";
---

<PageLayout
  title="Julio Castro | Senior Software Engineer"
  description="CV of Julio Cesar Castro Lopez, senior software engineer based in Zürich, Switzerland"
  bodyClasses="p-20 flex flex-col items-center gap-4"
>
  <p>My CV is the following...</p>

  <Printable classes="px-12 py-10 bg-white text-black">
    <div class="flex flex-col gap-2">
      <h1 class="text-4xl tracking-wide text-center">
        <span class="font-extrabold">JULIO</span> CASTRO
      </h1>
      <h2 class="text-xl text-center">Senior Software Engineer</h2>
    </div>

    <div class="mt-4 flex flex-col gap-2">
      <hr />
      <p class="text-center">
        julio.castro.dev@gmail.com | +41 76 513 18 64 | Zürich, Switzerland
      </p>
      <hr />
    </div>

    <div class="mt-6 flex flex-col gap-2">
      <h2 class="text-xl font-extrabold">SUMMARY</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        eius atque labore ducimus maiores placeat ut quaerat quod. Aspernatur
        dicta, facere maiores incidunt tempora soluta? Pariatur, repellat.
        Dicta, cumque inventore? dicta, facere maiores incidunt tempora soluta?
        Pariatur, repellat. Dicta, cumque inventore?
      </p>
      <hr />
    </div>

    <div class="mt-4 flex flex-col gap-2">
      <h2 class="text-xl font-extrabold">SKILLS</h2>
      <ul class="list-inside list-disc">
        <li>Skill 1</li>
        <li>Skill 2</li>
        <li>Skill 3</li>
        <li>Skill 3</li>
        <li>Skill 4</li>
        <li>Skill 5</li>
        <li>Skill 6</li>
        <li>Skill 7</li>
      </ul>
      <hr />
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-extrabold">EXPERIENCE</h2>

      <div class="mt-2 flex flex-col gap-1">
        <h3 class="font-bold">Current Senior Software Position</h3>
        <p>Mar 2019 - Present</p>
        <ul class="list-inside list-disc">
          <li>Comment 1</li>
          <li>Comment 2</li>
          <li>Comment 3</li>
        </ul>
      </div>

      <div class="mt-6 flex flex-col gap-1">
        <h3 class="font-bold">Intermediate Senior Software Position</h3>
        <p>Mar 2018 - Mar 2019</p>
        <ul class="list-inside list-disc">
          <li>Comment 1</li>
          <li>Comment 2</li>
          <li>Comment 3</li>
        </ul>
      </div>

      <div class="mt-6 flex flex-col gap-1">
        <h3 class="font-bold">Intermediate Senior Software Position</h3>
        <p>Mar 2018 - Mar 2019</p>
        <ul class="list-inside list-disc">
          <li>Comment 1</li>
          <li>Comment 2</li>
          <li>Comment 3</li>
        </ul>
      </div>

      <div class="mt-6 flex flex-col gap-1">
        <h3 class="font-bold">Last Senior Software Position</h3>
        <p>Mar 2018 - Mar 2019</p>
        <ul class="list-inside list-disc">
          <li>Comment 1</li>
          <li>Comment 2</li>
          <li>Comment 3</li>
        </ul>
      </div>

      <hr class="mt-2" />
    </div>

    <Education
      classes="mt-4"
      show={[
        {
          title:
            "Bachelor's Degree in Mathematics and Computer Science from the Polytechnic University of Madrid",
          fromYear: "2017",
          toYear: "2021",
          remarks: [
            "Achieved an average score of 9/10.",
            "Awarded for multiple years with academic excellence on behalf of the city of Madrid.",
          ],
        },
      ]}
    />

    <Languages
      classes="mt-4"
      show={[
        { lang: "English", level: "C1" },
        { lang: "Spanish", level: "Native" },
        { lang: "German", level: "A2" },
      ]}
    />
  </Printable>
</PageLayout>
